//===========================================
    // -Buttons start
//===========================================

.btn {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  &[disabled], &.disabled{
    cursor: not-allowed;
  }
}

.offer-buy-btn {
  background-color: $supporting-4;
  border: none;
  padding: rem(10) rem(40);
  border-radius: rem(20);
  font-size: rem(20);
}
//===========================================
    // -Buttons end
//===========================================