//===========================================
	// -Navbar start
//===========================================




// Sub bar navigation
.sub-bar-navigation{
	background-color: $sub-bar-bg;
	padding: 0 rem(200);

	.sub-navbar{
		list-style-type: none;
		margin: 0;
		padding: 0;

		.sub-navbar-item-link {
			display: block;
			color: $default-font-color;
			float: left;
			padding: rem(20);
			text-decoration: none;

		}

		.sub-navbar-item-link:hover{
			color: #d82e3f;
			transition: all 0.3s ease-in-out;
		}

		.sub-navbar-item-link:active{
			background-color: lighten(#d82e3f, 50%);
		}
	}
}


//===========================================
	// -Navbar end
//===========================================
